<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cropData</key>
	<array>
		<dict>
			<key>name</key>
			<string>eggs</string>
			<key>amount</key>
			<integer>0</integer>
			<key>lastStateSwitchTime</key>
			<real>-1</real>
			<key>state</key>
			<integer>0</integer>
			<key>x</key>
			<real>0.15</real>
			<key>y</key>
			<real>0.54</real>
			<key>stockingTimeStart</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>milk</string>
			<key>amount</key>
			<integer>0</integer>
			<key>lastStateSwitchTime</key>
			<integer>-1</integer>
			<key>state</key>
			<integer>0</integer>
			<key>x</key>
			<real>0.26</real>
			<key>y</key>
			<real>0.54</real>
			<key>stockingTimeStart</key>
			<integer>-1</integer>
		</dict>
	</array>
</dict>
</plist>
