<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>foodName</key>
		<string>Whipped Cream</string>
		<key>foodIngredients</key>
		<array>
			<string>Whipping Cream</string>
		</array>
	</dict>
	<dict>
		<key>foodName</key>
		<string>Cookies</string>
		<key>foodIngredients</key>
		<array>
			<string>Butter</string>
			<string>Egg</string>
			<string>Flour</string>
		</array>
	</dict>
	<dict>
		<key>foodName</key>
		<string>Gingerbread</string>
		<key>foodIngredients</key>
		<array>
			<string>Egg</string>
			<string>Flour</string>
			<string>Butter</string>
			<string>Molasses</string>
		</array>
	</dict>
	<dict>
		<key>foodName</key>
		<string>Ice Cream</string>
		<key>foodIngredients</key>
		<array>
			<string>Whipping Cream</string>
			<string>Egg</string>
			<string>Milk</string>
		</array>
	</dict>
	<dict>
		<key>foodName</key>
		<string>Tiramisu</string>
		<key>foodIngredients</key>
		<array>
			<string>Whipping Cream</string>
			<string>Egg</string>
			<string>Milk</string>
			<string>Flour</string>
			<string>Coffee</string>
		</array>
	</dict>
	<dict>
		<key>foodName</key>
		<string>Muffin</string>
		<key>foodIngredients</key>
		<array>
			<string>Butter</string>
			<string>Egg</string>
			<string>Milk</string>
			<string>Flour</string>
		</array>
	</dict>
	<dict>
		<key>foodName</key>
		<string>Cake</string>
		<key>foodIngredients</key>
		<array>
			<string>Whipping Cream</string>
			<string>Egg</string>
			<string>Milk</string>
			<string>Oil</string>
			<string>Butter</string>
		</array>
	</dict>
	<dict>
		<key>foodName</key>
		<string>Cream Puff</string>
		<key>foodIngredients</key>
		<array>
			<string>Whipping Cream</string>
			<string>Egg</string>
			<string>Flour</string>
		</array>
	</dict>
	<dict>
		<key>foodName</key>
		<string>Merigingue</string>
		<key>foodIngredients</key>
		<array>
			<string>Sugar</string>
			<string>Egg</string>
		</array>
	</dict>
	<dict>
		<key>foodName</key>
		<string>Croissant</string>
		<key>foodIngredients</key>
		<array>
			<string>Butter</string>
			<string>Flour</string>
		</array>
	</dict>
	<dict>
		<key>foodName</key>
		<string>Tart</string>
		<key>foodIngredients</key>
		<array>
			<string>Whipping Cream</string>
			<string>Egg</string>
			<string>Butter</string>
			<string>Flour</string>
		</array>
	</dict>
	<dict>
		<key>foodName</key>
		<string>Scone</string>
		<key>foodIngredients</key>
		<array>
			<string>Whipping Cream</string>
			<string>Egg</string>
			<string>Milk</string>
			<string>Flour</string>
			<string>Butter</string>
		</array>
	</dict>
	<dict>
		<key>foodName</key>
		<string>Pancakes</string>
		<key>foodIngredients</key>
		<array>
			<string>Flour</string>
			<string>Egg</string>
			<string>Milk</string>
		</array>
	</dict>
</array>
</plist>
