<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>money</key>
	<integer>100</integer>
	<key>gameConstantSettings</key>
	<dict>
		<key>animal</key>
		<dict>
			<key>maxAmount</key>
			<integer>5</integer>
			<key>sellingPrice</key>
			<integer>5</integer>
			<key>sellingSpeed</key>
			<integer>3</integer>
			<key>stockingPrice</key>
			<integer>3</integer>
			<key>stockingSpeed</key>
			<integer>3</integer>
			<key>timerPositionX</key>
			<integer>0</integer>
			<key>timerPositionY</key>
			<real>0.05</real>
		</dict>
		<key>plant</key>
		<dict>
			<key>maxAmount</key>
			<integer>2</integer>
			<key>sellingPrice</key>
			<integer>7</integer>
			<key>sellingSpeed</key>
			<integer>5</integer>
			<key>stockingPrice</key>
			<integer>3</integer>
			<key>stockingSpeed</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>stockItemData</key>
	<array>
		<dict>
			<key>state</key>
			<integer>0</integer>
			<key>species</key>
			<string>cow</string>
			<key>amount</key>
			<integer>0</integer>
			<key>lastStateSwitchTime</key>
			<real>-1</real>
			<key>type</key>
			<string>animal</string>
			<key>x</key>
			<real>0.5</real>
			<key>y</key>
			<real>0.8</real>
			<key>stockingTimeStart</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>state</key>
			<integer>0</integer>
			<key>species</key>
			<string>cow</string>
			<key>amount</key>
			<integer>0</integer>
			<key>lastStateSwitchTime</key>
			<real>-1</real>
			<key>type</key>
			<string>animal</string>
			<key>x</key>
			<real>0.3</real>
			<key>y</key>
			<real>0.55</real>
			<key>stockingTimeStart</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>state</key>
			<integer>0</integer>
			<key>species</key>
			<string>chicken</string>
			<key>amount</key>
			<integer>0</integer>
			<key>lastStateSwitchTime</key>
			<integer>-1</integer>
			<key>type</key>
			<string>animal</string>
			<key>x</key>
			<real>0.3</real>
			<key>y</key>
			<real>0.8</real>
			<key>stockingTimeStart</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>state</key>
			<integer>0</integer>
			<key>species</key>
			<string>chicken</string>
			<key>amount</key>
			<integer>0</integer>
			<key>lastStateSwitchTime</key>
			<integer>-1</integer>
			<key>type</key>
			<string>animal</string>
			<key>x</key>
			<real>0.5</real>
			<key>y</key>
			<real>0.55</real>
			<key>stockingTimeStart</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>state</key>
			<integer>0</integer>
			<key>species</key>
			<string>wheat</string>
			<key>amount</key>
			<integer>0</integer>
			<key>lastStateSwitchTime</key>
			<integer>-1</integer>
			<key>type</key>
			<string>plant</string>
			<key>x</key>
			<real>0.3</real>
			<key>y</key>
			<real>0.25</real>
			<key>stockingTimeStart</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>state</key>
			<integer>0</integer>
			<key>species</key>
			<string>wheat</string>
			<key>amount</key>
			<integer>0</integer>
			<key>lastStateSwitchTime</key>
			<real>0</real>
			<key>type</key>
			<string>plant</string>
			<key>x</key>
			<real>0.55</real>
			<key>y</key>
			<real>0.25</real>
			<key>stockingTimeStart</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>state</key>
			<integer>0</integer>
			<key>species</key>
			<string>wheat</string>
			<key>amount</key>
			<integer>0</integer>
			<key>lastStateSwitchTime</key>
			<real>-1</real>
			<key>type</key>
			<string>plant</string>
			<key>x</key>
			<real>0.8</real>
			<key>y</key>
			<real>0.25</real>
			<key>stockingTimeStart</key>
			<integer>-1</integer>
		</dict>
	</array>
</dict>
</plist>
