<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>money</key>
	<integer>50</integer>
	<key>stockItemConfigurations</key>
	<dict>
		<key>shake</key>
		<dict>
			<key>maxAmount</key>
			<integer>100</integer>
			<key>sellingPrice</key>
			<integer>5</integer>
			<key>sellingSpeed</key>
			<integer>3</integer>
			<key>stockingPrice</key>
			<integer>3</integer>
			<key>stockingSpeed</key>
			<integer>3</integer>
			<key>timerPositionX</key>
			<integer>0</integer>
			<key>timerPositionY</key>
			<real>0.05</real>
		</dict>
		<key>cookie</key>
		<dict>
			<key>maxAmount</key>
			<integer>6</integer>
			<key>sellingPrice</key>
			<integer>7</integer>
			<key>sellingSpeed</key>
			<integer>5</integer>
			<key>stockingPrice</key>
			<integer>3</integer>
			<key>stockingSpeed</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>stockItemData</key>
	<array>
		<dict>
			<key>flavor</key>
			<string>chocolate</string>
			<key>amount</key>
			<integer>0</integer>
			<key>lastStateSwitchTime</key>
			<real>-1</real>
			<key>state</key>
			<integer>0</integer>
			<key>type</key>
			<string>shake</string>
			<key>x</key>
			<real>0.15</real>
			<key>y</key>
			<real>0.54</real>
			<key>stockingTimeStart</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>flavor</key>
			<string>strawberry</string>
			<key>amount</key>
			<integer>0</integer>
			<key>lastStateSwitchTime</key>
			<integer>-1</integer>
			<key>state</key>
			<integer>0</integer>
			<key>type</key>
			<string>shake</string>
			<key>x</key>
			<real>0.26</real>
			<key>y</key>
			<real>0.54</real>
			<key>stockingTimeStart</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>flavor</key>
			<string>chocolate</string>
			<key>amount</key>
			<integer>0</integer>
			<key>lastStateSwitchTime</key>
			<integer>-1</integer>
			<key>state</key>
			<integer>0</integer>
			<key>type</key>
			<string>shake</string>
			<key>x</key>
			<real>0.37</real>
			<key>y</key>
			<real>0.54</real>
			<key>stockingTimeStart</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>flavor</key>
			<string>strawberry</string>
			<key>amount</key>
			<integer>0</integer>
			<key>lastStateSwitchTime</key>
			<integer>-1</integer>
			<key>state</key>
			<integer>0</integer>
			<key>type</key>
			<string>shake</string>
			<key>x</key>
			<real>0.48</real>
			<key>y</key>
			<real>0.54</real>
			<key>stockingTimeStart</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>flavor</key>
			<string>chocolate</string>
			<key>amount</key>
			<integer>0</integer>
			<key>lastStateSwitchTime</key>
			<integer>-1</integer>
			<key>state</key>
			<integer>0</integer>
			<key>type</key>
			<string>cookie</string>
			<key>x</key>
			<real>0.17</real>
			<key>y</key>
			<real>0.32</real>
			<key>stockingTimeStart</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>flavor</key>
			<string>chocolate</string>
			<key>amount</key>
			<integer>0</integer>
			<key>lastStateSwitchTime</key>
			<real>0</real>
			<key>state</key>
			<integer>0</integer>
			<key>type</key>
			<string>cookie</string>
			<key>x</key>
			<real>0.375</real>
			<key>y</key>
			<real>0.32</real>
			<key>stockingTimeStart</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>flavor</key>
			<string>chocolate</string>
			<key>amount</key>
			<integer>0</integer>
			<key>lastStateSwitchTime</key>
			<real>-1</real>
			<key>state</key>
			<integer>0</integer>
			<key>type</key>
			<string>cookie</string>
			<key>x</key>
			<real>0.58</real>
			<key>y</key>
			<real>0.32</real>
			<key>stockingTimeStart</key>
			<integer>-1</integer>
		</dict>
	</array>
</dict>
</plist>
