<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>182524851619-9h29gdkckv2fhs1ajboqsp546seta702.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.182524851619-9h29gdkckv2fhs1ajboqsp546seta702</string>
	<key>API_KEY</key>
	<string>AIzaSyDCI_8fbBPrAbe5O18bKYrEt_65N9QbA5A</string>
	<key>GCM_SENDER_ID</key>
	<string>182524851619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kewo2098.Firebase-Library</string>
	<key>PROJECT_ID</key>
	<string>kewo2098-firebase-library</string>
	<key>STORAGE_BUCKET</key>
	<string>kewo2098-firebase-library.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182524851619:ios:3745e02290ca7a0d165616</string>
</dict>
</plist>